In [4]:
import pandas as pd
df= pd.read_csv('dataset_tennis.csv')

In [5]:
df.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,Wsets,Lsets,Comment,PSW,PSL,B365W,B365L,elo_winner,elo_loser,proba_elo
0,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Dosedel S.,...,2.0,0.0,Completed,NaN,NaN,NaN,NaN,1500.0,1500.0,0.5
1,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,Kiefer N.,...,2.0,0.0,Completed,NaN,NaN,NaN,NaN,1500.0,1500.0,0.5
2,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,Gaudio G.,...,2.0,1.0,Completed,NaN,NaN,NaN,NaN,1500.0,1500.0,0.5
3,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,El Aynaoui Y.,...,2.0,1.0,Completed,NaN,NaN,NaN,NaN,1500.0,1500.0,0.5
4,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,Cherkasov A.,...,2.0,0.0,Completed,NaN,NaN,NaN,NaN,1500.0,1500.0,0.5

In [6]:
df.info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49942 entries, 0 to 49941
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         49942 non-null  int64
 1   Location    49942 non-null  object
 2   Tournament  49942 non-null  object
 3   Date        49942 non-null  object
 4   Series      49942 non-null  object
 5   Court       49942 non-null  object
 6   Surface     49942 non-null  object
 7   Round       49942 non-null  object
 8   Best of     49942 non-null  int64
 9   Winner      49942 non-null  object
 10  Loser       49942 non-null  object
 11  WRank       49937 non-null  float64
 12  LRank       49918 non-null  float64
 13  Wsets       49716 non-null  float64
 14  Lsets       49715 non-null  float64
 15  Comment     49942 non-null  object
 16  PSW         37952 non-null  float64
 17  PSL         37952 non-null  float64
 18  B365W       44247 non-null  float64
 19  B365L       44267 non-null  float64
 20  elo_winner  44708 non-null  float64
 21  elo_loser   44708 non-null  float64
 22  proba_elo   44708 non-null  float64
dtypes: float64(11), int64(2), object(10)
memory usage: 8.8+ MB

In [7]:
df.isna().sum()

ATP               0
Location          0
Tournament        0
Date              0
Series            0
Court             0
Surface           0
Round             0
Best of           0
Winner            0
Loser             0
WRank             5
LRank            24
Wsets           226
Lsets           227
Comment           0
PSW           11990
PSL           11990
B365W          5695
B365L          5675
elo_winner     5234
elo_loser      5234
proba_elo      5234
dtype: int64